<div class="row">
  <div class="square-thumb">
    <%= image_tag 'https://i.imgur.com/JA2NSSDm.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb">
    <%= image_tag 'https://i.imgur.com/2T2vjwi.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb last">
      <%= image_tag 'https://i.imgur.com/3rNyNJ9m.jpg', class: 'rescue-img-filter' %>
  </div>
</div>

<div class="row sub-row">
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/DCpvue2m.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/dYB9QdLm.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb last">
      <%= image_tag 'https://i.imgur.com/M295gfAm.jpg', class: 'rescue-img-filter' %>
  </div>
</div>

<div class="row sub-row">
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/e6C68Ua.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/wM0uyYUm.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb last">
      <%= image_tag 'https://i.imgur.com/v5jjTAZ.jpg', class: 'rescue-img-filter' %>
  </div>
</div>

<div class="row sub-row">
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/E57JvdM.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/w2ITkUz.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb last">
      <%= image_tag 'https://i.imgur.com/axx4nLE.jpg', class: 'rescue-img-filter' %>
  </div>
</div>

<div class="row sub-row">
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/AoLUZ2U.jpg', class: 'rescue-img-filter' %>
  </div>
  <div class="square-thumb">
      <%= image_tag 'https://i.imgur.com/g0wpFf7.jpg', class: 'rescue-img-filter' %>
  </div>
  <!-- <div class="square-thumb last"> -->
  <!-- </div> -->
</div>


  <!-- <h1 class="text-center posts-header">Dublin</h1>
  <p class="post-gar-text">
    I have such a hard time understanding why Dubs was found homeless.
    After he decided to trust me, this guy demanded so much cuddle time <i>everyday</i>.
  </p>
  <p class="post-gar-text">
    He is such a gentleman. While living in the office, he was contstantly caring for and grooming
    his lady pals. His purr is so loud, it almost sounds like he is singing.
    The only thing this boy wanted was his very own human to love.
  </p>
  <p class="post-gar-text">
    Dubs finally found his warm, permanent home in October of 2020. He lives with his new mother and sister Lola.
  </p> -->
