<h1 class="text-center posts-header">Dublin</h1>
<p class="post-gar-text">
  I have such a hard time understanding why Dubs was found homeless.
  After he decided to trust me, this guy demanded so much cuddle time <i>everyday</i>.
</p>
<p class="post-gar-text">
  He is such a gentleman. While living in the office, he was contstantly caring for and grooming
  his lady pals. His purr is so loud, it almost sounds like he is singing.
  The only thing this boy wanted was his very own human to love.
</p>
<p class="post-gar-text">
  Dubs finally found his warm, permanent home in October of 2020. He lives with his new mother and sister Lola.
</p>
<div class="carousel-frame">
  <div id="carouselExampleControlsDubs" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag 'https://i.imgur.com/b57GHXy.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/kYoZlXv.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/SpYrOUj.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/KtqOry9.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/d4BExdj.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/k6IJ1r1.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/6K3nnJg.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/PU9yqP8.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/T7JM7sj.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/FeiSIp7.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://i.imgur.com/vwU5vQV.jpg', class: 'carousel-photo d-block img-fluid' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControlsDubs" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControlsDubs" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
