<h1 class="text-center posts-header">Opal</h1>
<p class="post-gar-text">
  This lucky lady was the first to accept my friendship and the first to find a new home outside of my own.
  Although she enjoyed being mothered by Phoebe and I, it was becoming obvious to me that I could not be a responsible
  cat mom to nine kitties.
</p>
<p class="post-gar-text">
  It just so happened that my friend was looking to find a partner in crime for her handsome kitty-man.
</p>
<p class="post-gar-text">
  Opal was adopted to a loving home in February of 2020. She now lives in Sugarhouse, Utah with her mom, dad, and two mammal brothers.
</p>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'opal/opal1.jpeg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'opal/opal2.jpeg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'opal/opal3.jpeg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'opal/opal4.jpeg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'opal/opal5.jpeg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'opal/opal6.jpeg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://i.imgur.com/TnN6Qxj.jpg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://i.imgur.com/shoYcmI.jpg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://i.imgur.com/7znKUD8.jpg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://i.imgur.com/oQVKW76.jpg', class: 'carousel-photo d-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://i.imgur.com/mExVZgX.jpg', class: 'carousel-photo d-block img-fluid' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
