<%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="welcome-header">
    Fight for Felines
  </div>

  <p class="welcome-text">
    We're a small group of people across the nation dedicated to saving cats
    and providing them with better lives.
  </p>
  <p class="welcome-text">
    We rescue from shelters, support existing no-kill shelters and the <%= link_to 'TNR', 'https://bestfriends.org/advocacy/protecting-community-cats' %>  movement.
  </p>
  <p class="welcome-text">
    Help us make a difference in the lives of cats all across the country.
  </p>
  <p style="text-align:center;">
    <%= image_tag 'logos/tealcirclewebcolors.png', class: 'welcome-logo' %>
  </p>
  <!-- </br>
  </br> -->
  <p class="welcome-text">
    Want to learn more? Check out our <%= link_to 'Adoption Stories', adoptions_path %> or <%= link_to 'Blog', posts_path %>
  </p>
  <p class="welcome-text">
    Or contact us at: <%= mail_to "savingallthecats@gmail.com", "savingallthecats@gmail.com" %>
  </p>
</div>
