<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Fight for Felines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body class="application-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand mx-auto" href="/">
            SATC
        </a>
        <div class="collapse navbar-collapse text-right">
          <ul class="navbar-nav">
            <li class="navbar-header">
                Fight for Felines
            </li>
            <li class="nav-item pull-right">
                <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
            </li>

              <!-- <li class="nav-item">
                  <a  class="nav-link text-nowrap" href="#">Navbar Link Number 3</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-nowrap" href="#">Navbar Link Number 4</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-nowrap" href="#">Navbar Link Number 5</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-nowrap" href="#">Navbar Link Number 6</a>
              </li> -->

         </ul>
        </div>
      </div>
    </nav>

    <div style="margin-top:20px">
      <%= yield %>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  </body>
</html>
