<!DOCTYPE html>
<html>
  <head>
    <title>Fight for Felines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('favicon-heart.png') %>
  </head>

  <body class="application-body">
    <header id="header">
     <div class="navbar-logo">
       <%= link_to image_tag('logos/peach-skin-logo.png', :class => "logo-style"), root_path %>
     </div>
     <%= render 'layouts/main_navbar' %>
    </header>

    <!-- <div> -->
      <%= yield %>
    <!-- </div> -->
  </body>

</html>
